table {
    border-collapse: collapse;   
}

#database {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 80%;
}

td, th{
    padding: 10px;
    border: .5px solid #000;
    font-size: 1.1rem;
}

th {
    font-weight: 800;
}

