#formazione {
    display: grid;
    grid-template-columns: 50% 50%;
}

#formazione > div:nth-child(1) {
    padding: 30px;
    position: relative;
}

#preview{
    border-left: 1px solid var(--light-black);
    border-bottom: 1px solid var(--light-black);
    border-radius: 3px;
    padding: 10px;
    box-shadow: .5px .5px 5px var(--light-black);
    background: var(--bg-card);
    opacity: 0;
    transition: 300ms;
}

#pagesBTN{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    opacity: 0;
    transition: 300ms;
}



.btn-idea{
    border-radius: 3px;
    padding: 5px 10px;
    border:none;
    cursor: pointer;
}

#formazione > div:nth-child(2) {
    padding: 30px;
}

#formazione-menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 50px;
}
