#home {
    display: grid;
    grid-template-rows: 50% 50%;
}

#home > div {
    display: grid;
    grid-template-rows: 50% 50%;
    gap:30px;
}

.box {
    display: grid;
    grid-template-columns: 50% 50%;
}

.box > div {
    margin: 20px;    
    padding: 20px;
    border: 1px solid #0003;
    border-radius: 5px;
}

.titoli{
    padding-bottom: 20px;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 10px
}

a {
    text-decoration: none;
    font-size: .9rem;
    margin-left: 40px;
}


