.row {
    display: flex;
    flex-direction: row;
}

input {
    width: 400px;
}

span {
    margin-left: 30px;
    font-size: 1.1rem;
}

#help {
    color: #0007;
    padding: 50px 50px 20px 50px;
    font-size: 1.1rem;
}

#card {
    padding: 30px;

}

