* {
    margin: 0;
    padding: 0;
}

:root {
    --border: .7px solid #0002;
}

body {
    width: 100vw;
    height: 100vh;

    font-size: 10px;
}

component {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 15% 85%;
}

aside {
    border-right: var(--border);
    padding-top: 40%;
    padding-left: 20%;

}
li {
    font-size: 1.1rem;
    margin-bottom: 20px;
    list-style: none;
    cursor: pointer;
}

panel{
    display: grid;
    grid-template-rows: 10% 90%;
}

nav {
    border-bottom: var(--border);
}

